html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    scrollbar-color: #0b6f8e #063847;
}

::-webkit-scrollbar {
    background: #063847;
}

::-webkit-scrollbar-thumb {
    background: #0b6f8e;
}